.body {
    hieght: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}